/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background-color: #f6f7f8;
  max-height: 70px; 
  border-radius: 28px;
  flex-wrap: wrap; 
  overflow: hidden; 
}

.headerContainer {
  border-top-left-radius: 28px;
  width: 100%; 
}

/* Currency Section */
.currency {
  margin-top: 10px;
}

/* Title Styling */
.headerTitle {
  font-size: 18px;
  font-weight: bold;
}

/* Add Balance Button Styling */
.addBalanceButton {
  padding: 10px 15px;
  background-color: #0f1017;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap; 
  position: absolute; 
  right: 20px;
  top: 50%; 
  transform: translateY(-50%); 
}

/* Add Balance Image Styling */
.addBalanceImage {
  margin-top: 0.5rem;
  margin-right: 2.5rem;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius: 18px;
  background-color: #0f1017;
  color: #fff;
}

/* Mobile Styles */
@media (min-width: 390px) and (max-width: 430px) {
  /* Make Add Balance Button Transparent on Mobile */
  .addBalanceButton {
    background-color: #ccc;
    border: 2px solid #0f1017; 
    color: #0f1017; 
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
  }

  /* Adjust the Header container to fit the screen size */
  .header {
    padding: 10px 16px;
    border-radius: 0; 
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    justify-content: flex-start; 
    position: relative;


    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #f6f7f8;
    max-height: 70px; 
    border-radius: 28px;
    flex-wrap: wrap; 
    overflow: hidden;  */
   
  }

  /* Adjust other styling for mobile */
  .headerTitle {
    font-size: 16px; 
  }

  .currency {
    margin-top: 5px; 
  }

  .addBalanceImage {
    margin-right: 1rem;
  }
}
