.bodyMain {
  position: relative; 
  background-color: #f6f7f8;
  width: 100%;
  border-radius: 28px;
  transition: background-color 0.3s ease;
}

.bodyContent {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 0;
  padding: 4px 10px;
  position: relative;
  z-index: 2;
}

.leftColumn {
  /* background-color: #fff; */
  border-radius: 8px;
  overflow: hidden;
  margin-left: -10px;
}

.rightColumn {
  /* background-color: #fff; */
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.transparentOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 1;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .bodyContent {
    grid-template-columns: 1fr; /* Stack the cards vertically on smaller screens */
  }

  .rightColumn {
    transform: translateX(100%); /* Slide out by default */
    opacity: 0;
  }

  .rightColumn.show {
    transform: translateX(0); /* Slide in when active */
    opacity: 1;
  }
}
